body{
    background: rgb(63, 170, 63);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center; /*apenas texto alinhado ao centro*/
}

section{
    background: white;
    border-radius: 10px; /*borda arredondada, raio da borda*/
    padding: 15px; /*maior espaço*/
    width: 500px; /*largura*/
    margin: auto; /*tudo centralida*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);/*sombra do fundo do texo*/
}

div#res{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;/*estilo da fonte em itálico*/

}